{% if user.is_authenticated %}
    <h1>My Tasks</h1>

    <a href="{% url 'task_create' %}">➕ Add Task</a>

    <ul>

    <a href="{% url 'index' %}">All</a>
    <a href="?status=pending">Active</a>
    <a href="?status=completed">Completed</a>
    
    {% for task in tasks %}
        <li>
            {{ task.title }} - 
            {% if task.status == 'completed' %}
                ✅
            {% else %}
                ❌
            {% endif %}

            <a href="{% url 'task_update' task.id %}">Edit</a>
            <a href="{% url 'task_delete' task.id %}">Delete</a>
        </li>
        {% empty %}
            <p>No tasks yet...</p>
        {% endfor %}
    </ul>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}